/* components/Notification.css */
.notification {
    width: 400px;
    height: 30px;
    background-color: rgb(255, 255, 255,0.9); 
    color: #ff0000; /* 白色字体 */
    padding: 5px; /* 内边距，使内容居中 */
    border-radius:20px; /* 圆角边框 */
    margin-bottom: 10px; /* 底部外边距，用于与其他元素分隔 */
    z-index: 9999; /* 确保 Notification 处于最上层 */
    position:fixed; /* 添加此行，使 z-index 生效 */
    top: 90px; /* 设置距离顶端的位置 */
    align-items: center;
    left: 50%; /* 水平方向上居中 */
    transform: translateX(-50%); /* 水平方向上居中 */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    
  }
  
  .notification-content {
    /* 添加文字内容的样式 */
    font-size: 14px;
    font-weight: bold;
    /* 其他文字样式属性 */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* 使内容高度充满父容器 */
  }
  